/* Dark Mode Variables */
:root {
  --bg-color: #121212;
  --tag-bg: #323131;
  --table-bg1: #1c1c1c;
  --table-bg2: #252525;
  --card-bg: #000207;
  --text-color: #ffffff;
  --popup-bg: rgba(0, 0, 0, 0.77);
  --blue-orange: rgb(247, 91, 18);
  --blue-white: #fff;
  --data-bg: #0b0132;
  --border-thin: 0.3px solid rgba(255, 255, 255, 0.551);
  --nav-bar-color: #06050f;
  --maroon: #8800ff;
  --shadow: 0 5px 15px rgba(81, 112, 116, 0.605);
  --white: #000000;
  --black: #ffffff;
  --transition: all 0.3s ease;
}

[data-theme="light"] {
  --bg-color: #d4d4d4;
  --table-bg1: #33333336;
  --table-bg2: #4a4a4a34;
  --card-bg: #fffffffa;
  --border-thin: 0.3px solid rgba(0, 0, 0, 0.551);
  --popup-bg: rgba(124, 124, 124, 0.77);
  --nav-bar-color: #dce4fd;
  --data-bg: #0e061fcc;
  --blue-white: rgb(0, 0, 255);
  --blue-orange: #090040;
  --maroon: #060012;
  --text-color: #7f8c8d;
  --white: #fff;
  --black: #000000;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.605);
  --transition: all 0.3s ease;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}